@define-color bg0 #1a1b26;
@define-color bg1 #16161e;
@define-color bg2 #2f334d;
@define-color bg3 #414868;
@define-color bg4 #565f89;

@define-color red    #f7768e;
@define-color orange #ff9e64;
@define-color yellow #e0af68;
@define-color green  #9ece6a;
@define-color aqua   #0db9d7;
@define-color blue   #7aa2f7;
@define-color purple #bb9af7;

@define-color fg #a9b1d6;

@define-color grey0 #565f89;
@define-color grey1 #6c7a9c;
@define-color grey2 #7f8ebf;

